<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>
    {{titulo}}
  </title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <h1>
          {{titulo}}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <!-- Form -->
        <form>
          <div class="row mt-5">
            <div class="col">
              <div class="form-group">
                <label for="fieldUser">User: </label>
                <input type="text" class="form-control" id="fieldUser" name="user" [(ngModel)]="userName"
                  placeholder="exampleUsuario123">
              </div>
            </div>
          </div>
          <div class="row my-5">
            <div class="col">
              <div class="form-group">
                <label for="fieldPassword">Password: </label>
                <input type="password" class="form-control" id="fieldPassword" name="password" [(ngModel)]="password">
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col d-flex justify-content-center">
              <input type="submit" class="btn btn-primary" name="Sign In" value="Sign In" (click)=SignIn()>
            </div>

            <div class="col d-flex justify-content-center">
              <input type="submit" class="btn btn-primary" name="Log In" value="Log In" (click)=LogIn()>
            </div>
          </div>
        </form>
        <!-- End Form -->
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <p>{{message}}</p>
      </div>
    </div>
    <div class="container" *ngIf="tryToLogIn>2; else chance">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <p><br><a href="change_password">change password</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <h3>Existing users</h3>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let user of registeredUsers">{{user}}</li>
          </ul>
        </div>
      </div>
    </div>
    <ng-template #chance>
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="text-center" *ngIf="tryToLogIn!=0">remaining attempts {{3-tryToLogIn}}</p>
          </div>
        </div>
      </div>      
    </ng-template>
  </div>
</body>

</html>